@page "{id:int}"
@model SysJaky_N.Pages.Admin.Articles.DeleteModel
@{
    ViewData["Title"] = "Smazat článek";
}

<h1>Smazat článek</h1>

<h3>Opravdu chcete tento článek smazat?</h3>
<div>
    <h4>@Model.Article?.Title</h4>
    <p>@Model.Article?.Content</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Article!.Id" />
    <button type="submit" class="btn btn-danger">Smazat</button>
    <a asp-page="Index" class="btn btn-secondary">Zrušit</a>
</form>
