@page "{id:int}"
@model SysJaky_N.Pages.Admin.Articles.DetailsModel
@{
    ViewData["Title"] = "Detail článku";
}

<h1>Detail článku</h1>

<div>
    <h4>@Model.Article?.Title</h4>
    <p>@Model.Article?.Content</p>
    <p><small>@Model.Article?.CreatedAt.ToString("g")</small></p>
</div>

<a asp-page="Edit" asp-route-id="@Model.Article?.Id">Upravit</a> |
<a asp-page="Index">Zpět na přehled</a>
