@page
@model SysJaky_N.Pages.Account.LoginModel

<h1>Login</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <altcha-widget name="altcha" challengeurl="~/altcha/challenge" verifyurl="~/altcha/verify" workerurl="~/lib/altcha/altcha.worker.js" refetchonexpire></altcha-widget>
        <noscript>Prosím povolte JavaScript.</noscript>
        <span asp-validation-for="Input.Captcha"></span>
    </div>
    <div>
        <input asp-for="Input.RememberMe" />
        <label asp-for="Input.RememberMe">Remember me</label>
    </div>
    <button type="submit">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
