@page
@model SysJaky_N.Pages.Account.RegisterModel

<h1>Register</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <label asp-for="Input.ReferralCode"></label>
        <input asp-for="Input.ReferralCode" />
        <span asp-validation-for="Input.ReferralCode"></span>
    </div>
    <div>
        <input asp-for="Input.AcceptsDataProcessing" type="checkbox" />
        <label asp-for="Input.AcceptsDataProcessing"></label>
        <span asp-validation-for="Input.AcceptsDataProcessing"></span>
    </div>
    <div>
        <input asp-for="Input.MarketingEmailsEnabled" type="checkbox" />
        <label asp-for="Input.MarketingEmailsEnabled"></label>
        <span asp-validation-for="Input.MarketingEmailsEnabled"></span>
    </div>
    <div>
        <altcha-widget name="altcha" challengeurl="@Url.Content("~/altcha/challenge")" verifyurl="@Url.Content("~/altcha/verify")" workerurl="@Url.Content("~/lib/altcha/altcha.worker.js")" refetchonexpire></altcha-widget>
        <noscript>Prosím povolte JavaScript.</noscript>
        <span asp-validation-for="Input.Captcha"></span>
    </div>
    <button type="submit">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
