@page
@model SysJaky_N.Pages.Admin.CourseBlocks.CreateModel
@{
    ViewData["Title"] = "Create Course Block";
}
<h1>Create Course Block</h1>
<form method="post">
    <partial name="_CourseBlockForm" model="new SysJaky_N.Pages.Admin.CourseBlocks.CourseBlockFormModel(Model.CourseBlock, Model.AvailableCourses, Model.SelectedCourseIds)" />
    <partial name="_FormActions" model='new SysJaky_N.Pages.Admin.Shared.FormActionsModel { SubmitText = "Create", ShowCancel = false }' />
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
