@page "{id:int}"
@model SysJaky_N.Pages.Admin.CourseBlocks.DeleteModel
@{
    ViewData["Title"] = "Smazat blok kurzů";
}
<h1>Smazat blok kurzů</h1>
<h3>Opravdu chcete tento blok odstranit?</h3>
<div>
    <h4>@Model.CourseBlock.Title</h4>
    <p>@Model.CourseBlock.Description</p>
    <p>Cena: @Model.CourseBlock.Price</p>
    <h5>Moduly:</h5>
    <ul>
    @foreach (var course in Model.CourseBlock.Modules)
    {
        <li>@course.Title</li>
    }
    </ul>
</div>
<form method="post">
    <button type="submit" class="btn btn-admin-warning">Smazat</button>
    <a asp-page="Index" class="btn btn-secondary">Zrušit</a>
</form>
