@model SysJaky_N.Pages.Admin.PriceSchedules.PriceScheduleFormModel

<div class="mb-3">
    <label asp-for="PriceSchedule.CourseId" class="form-label"></label>
    <select asp-for="PriceSchedule.CourseId" class="form-select" asp-items="Model.Courses"></select>
    <span asp-validation-for="PriceSchedule.CourseId" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="PriceSchedule.FromUtc" class="form-label"></label>
    <input asp-for="PriceSchedule.FromUtc" class="form-control" type="datetime-local" />
    <span asp-validation-for="PriceSchedule.FromUtc" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="PriceSchedule.ToUtc" class="form-label"></label>
    <input asp-for="PriceSchedule.ToUtc" class="form-control" type="datetime-local" />
    <span asp-validation-for="PriceSchedule.ToUtc" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="PriceSchedule.NewPriceExcl" class="form-label"></label>
    <input asp-for="PriceSchedule.NewPriceExcl" class="form-control" type="number" step="0.01" min="0.01" />
    <span asp-validation-for="PriceSchedule.NewPriceExcl" class="text-danger"></span>
</div>
