@page
@model SysJaky_N.Pages.Admin.CourseGroups.CreateModel
@{
    ViewData["Title"] = "Create Group";
}

<h1>Create Group</h1>

<form method="post">
    <partial name="_CourseGroupForm" for="CourseGroup" />
    <partial name="_FormActions" model='new SysJaky_N.Pages.Admin.Shared.FormActionsModel { SubmitText = "Create", CancelText = "Back to List" }' />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
