@page
@page "{handler?}"
@model SysJaky_N.Pages.Api.ChatbotModel
@{
    Layout = null;
}

<section class="container-xl py-5">
    <p class="text-muted">Tento endpoint poskytuje API pro firemního chatbota.</p>
</section>
