@{
    Layout = null;
}

<div class="modal fade" id="adminModal" tabindex="-1" aria-hidden="true" role="dialog" data-admin-modal="root">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" data-admin-modal="header"></div>
            <div class="modal-body" data-admin-modal="body"></div>
            <div class="modal-footer" data-admin-modal="actions"></div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade" data-admin-modal="backdrop" style="display:none;"></div>
