@page "{id:int}"
@model SysJaky_N.Pages.Courses.DeleteModel
@{
    ViewData["Title"] = "Smazat kurz";
}

<h1>Smazat kurz</h1>

<h3>Opravdu chcete tento kurz odstranit?</h3>
<div>
    <h4>@Model.Course.Title</h4>
    <p>@Model.Course.Description</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Course.Id" />
    <button type="submit" class="btn btn-danger">Smazat</button>
    <a asp-page="Index" class="btn btn-secondary">Zrušit</a>
</form>
