@page "{id}"
@model SysJaky_N.Pages.Admin.Users.DeleteModel
@{
    ViewData["Title"] = "Smazat uživatele";
}

<h1>Smazat uživatele</h1>

<h3>Opravdu chcete smazat tohoto uživatele?</h3>
<div>
    <strong>@Model.UserEntity.Email</strong>
</div>

<form method="post">
    <input type="hidden" asp-for="UserEntity.Id" />
    <button type="submit" class="btn btn-danger">Smazat</button>
    <a asp-page="Index" class="btn btn-secondary">Zrušit</a>
</form>
