@model SysJaky_N.Models.Instructor

<div class="mb-3">
    <label asp-for="FullName" class="form-label"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
</div>

<div class="mb-3 mt-3">
    <label asp-for="Bio" class="form-label"></label>
    <textarea asp-for="Bio" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Bio" class="text-danger"></span>
</div>
